<section class="contact" id="contact">
  <video autoplay muted loop id="myVideo">
    <source src="../../../assets/computer.mp4" style="width: 300px; height:150px;"  type="video/mp4">
      Your browser does not support HTML5 video.
  </video>
  <div class="content">
    <h1>Contáctanos</h1>
    <hr>
    <input type="text" placeholder="Nombre">
    <input type="email" placeholder="Correo electrónico">
    <input type="text" placeholder="Asunto">
    <input type="text" placeholder="Mensaje">
    <button>Enviar Mensaje</button>
  </div>
</section>
