<section class="products">
    <h5><b> Algunos de los productos con los que contamos son: </b>
      Videovigilancia, controles de acceso, interfón y videporteros, entre otros.</h5>
      <ul>

          <li type="circle">Cámaras de seguridad Digitales, IP, DVRs y NVRs (grabadores</li>
          
          <li type="square">Cables y conectores</li>
          
          <li type="disc">Fuentes de alimentación</li>
          
          <li type="circle">Pantallas</li>
          
          <li type="square">Videoporteros</li>
          
          <li type="disc">Interfones</li>
          </ul>

          <p> CCTV (Circuito Cerrado de TV)
              Obtenga una solución efectiva de video vigilancia para monitorear, controlar y asegurar personas y bienes en su organización.
              Registre imágenes en alta definición en tiempo real, establezca circuitos de reportes automatizados de incidentes y realice un almacenamiento 
              de material on site o remoto para cubrir todas sus necesidades de control, seguridad y prevención.
          </p>
          <p>
            Instalamos sistemas de Circuito Cerrado de Televisión que pueden ser monitoreados usando computadora, smartphones, tablet, smart tv.
          </p>
          <p>
            Contamos con una amplia gama en sistemas de CCTV en todas sus variantes: análogas y con tecnología IP ya sea para interior o exterior. 
            Un gran beneficio de estos sistemas, es poder monitorear desde su smartphone, tableta o computadora tanto los movimientos que hay en su empresa como en su hogar.               
          </p>
          <h5><b> Sistemas de interfón y videoportero </b></h5>
          <p>
            La línea más completa de sistemas de interfón, videoportero e intercomunicación para casa, edificio, oficina y comercio. Para que tu sistema de interfonos 
            o video porteros este más completo, te ofrecemos diversos sistemas de control de acceso, así como cerraduras y chapas eléctricas.
          </p>
          <p>
            Los sistemas de control de accesos peatonales se implementan para tener el control de todo el personal que transita en un espacio público o privado, 
            asegurando el paso de personas que cuentan con un libre tránsito y restringiendo el paso de personas no autorizadas en áreas específicas. Contamos con servicios y productos que controlan estos accesos para su manejo y control
          </p>
  </section> 