<section class="maintance">
  <h1><b>Servicio y Mantenimiento.</b></h1>
  <h5><b>Instalación</b></h5>
  <p>Apoyados en el asesoramiento previo, la planificación de medios necesarios, y en función de los riesgos, 
  las características y las necesidades de cada uno de nuestros clientes, se realiza la instalación y suministro de los equipos. 
  </p>
  <h5><b>Mantenimiento</b></h5>
  <p>
    Al contar ya con equipo de seguridad, debe realizarse mantenimiento preventivo y correctivo 
    de sus equipos para alargar la vida y garantizar el correcto funcionamiento de los mismos. 
    Para esto contamos con pólizas de mantenimiento preventivo y correctivo.      
  </p>
  <h5><b>Capacitación</b></h5>
  <p>
    Realizamos una capacitación a todo el personal sobre nuestros productos para que 
    puedan aprovechar el mayor rendimiento y utilidades de estos
  </p>
  <h5><b>Soporte técnico</b></h5>
  <p>
    Contamos con un área de soporte técnico especializada para la resolución de dudas y capacitación
     de nuestros productos.
  </p>
  <h5><b>Supervisión</b></h5>
  <p>
    Supervisión de obra y desarrollo de proyectos a corto, mediano y largo plazo, donde se realiza un 
    análisis para obtener el mejor método para cumplir la necesidad del cliente.
  </p>
</section>
