<section class="aboutUs" id="about">
  <div class="row">
     <div class="col-6 text1">
      <h3 class="we">¿Quiénes somos? </h3>
      <p> Somos una empresa 100% Mexicana con más de 15 años de experiencia en la Seguridad de su Empresa y Hogar, hemos avanzado con la innovación y la tecnología. Nuestra Empresa ha sido encargada y diseñada para crear soluciones a la medida de cada uno de nuestros clientes 
      (Corporativos, Plazas comerciales, PYMES, Casa Habitación, etc.) con la más amplia experiencia en el diseño de sistemas de vigilancia y seguridad.</p>      
      <h3 class="we">Nuestra Misión.</h3>
      <p> Otorgar un alto grado de cálidad en nuestros servicios y sistemas de seguridad, proporcionando a nuestros clientes la garantía de ser apoyados por una empresa de excelente nivel y calidad especializada en atender sus necesidades.</p>
      
      <h3 class="we">¿Qué ofrecemos? </h3> 
      <p>Ofrecemos un servicio integral a nuestros clientes, esto quiere decir que siempre contará con un equipo de profesionales, el cual, en todo momento se encargará de buscar y brindar las mejores soluciones a sus necesidades, tanto a nivel residencial como industrial.
      </p>
    </div>
    <div class="col-4 team">
      <img src="../../../assets/11_1.jpg" alt="">
    </div>
  </div>
    <input type="checkbox" id="spoiler1">
    <label for="spoiler1">SPOILER</label>
    <div class="spoiler">CONTENIDO OCULTO</div>
</section> 
   