.navbar {
    color: black;
    display: flex;
    font-size: 1.2em;
    height: 3em;
    font-family: 'Oswald', sans-serif;
    background-color: white;
}
.navbar-brand {
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 1.5%;
}
.collapse{
    justify-items: right;
    justify-content: center;
    width: 100%;
}
