.navbar {
    color: white;
    display: flex;
    font-size: 1em;
    height: 3em;
}
.navbar-brand {
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 1.5%;
}
.navbar-collapse {
    justify-content: flex-end;
}