<section class="alarms">
  <div class="row imgs">
    <div class="col-lg-3 sm-4 camera">
      <img src="assets/Alarmas.jpg" width="130" height="120" alt="">
      <div class="text">
        <p><b>Video porteros y control de acceso</b></p>
        <p>Contamos con la línea más completa de sistemas de <b> interfón, video portero e intercomunicación</b> para casa, edificio, 
          oficina y comercio. <b> Controle y restrinja el acceso</b> a personas y vehiculos a zonaz determinadas.</p>
          <a href="#">Leer más</a>
      </div>
    </div>
    <div class="col-lg-3 sm-4 camera">
      <img src="assets/Camara3.jpg" width="130" height="120" alt="">
      <div class="text">
        <p><b>Cámaras CCTV</b></p>
          <p>En <b>Comunicación Digital</b> nos especializamos en la <b>Instalación y Sistemas de Circuito Cerrado de Televisión CCTV,</b>
          debido a ello contamos con una <b>extensa gama de modelos de Cámaras de Video, DVR´s, Monitores, etc.</b></p>
          <a href="#">Leer más</a>
      </div>
    </div>
    <div class="col-lg-3 sm-4 camera">
      <img src="assets/conmutadores.jpg" width="130" height="120" alt="">
      <div class="text">
          <p><b> Conmutadores</b></p>
          <p>Venta, reparación y programación.</p>
          <a href="#">Leer más</a>
      </div>
    </div>
    <div class="col-lg-3 sm-4 camera">
      <img src="../../../assets/instalador expertos.jpg" width="130" height="120" alt="">
      <div class="text">
        <p><b>Servicio y mantenimiento</b></p>
        <ul>
          <li>Instalación</li>
          <li>Mantenimiento</li>
          <li>Capacitación</li>
          <li>Soporte técnico</li>
          <li>Supervisión</li>
        </ul>
        <a href="#">Leer más</a>
        </div>
    </div>
  </div>
</section>

