<section class="alarms">
  <div class="row imgs">
    <figure class="col-lg-3 sm-6">
      <img src="assets/Alarmas.jpg" width="250" height="200" alt="">
    </figure>
    <figure class="col-lg-3 sm-6">
      <img src="assets/Camara3.jpg" width="250" height="200" alt="">
    </figure>
    <figure class="col-lg-3 sm-6">
      <img src="assets/conmutadores.jpg" width="250" height="200" alt="">
    </figure>
    <figure class="col-lg-3 sm-6">
      <img src="assets/controldeacceso.jpg" width="250" height="200" alt="">
    </figure>
  </div>
  
</section>
